In [15]:
import time
from datetime import datetime, date
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.notebook_repr_html',True)
pd.set_option('display.max_column',7)
pd.set_option('display.max_rows',10)
pd.set_option('display.width',250)

In [16]:
dates = pd.date_range('2021-07-01','2021-07-06')
print(dates)
print(type(dates))

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06'], dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [17]:
temps1 = pd.Series([80,82,85,90,83,87], index=dates)
print(temps1)

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, dtype: int64

In [18]:
temps2 = pd.Series([70,75,69,83,79,77], index=dates)
print(temps2)
temps_diff = temps1-temps2
print(temps_diff)

2021-07-01    70
2021-07-02    75
2021-07-03    69
2021-07-04    83
2021-07-05    79
2021-07-06    77
Freq: D, dtype: int64
2021-07-01    10
2021-07-02     7
2021-07-03    16
2021-07-04     7
2021-07-05     4
2021-07-06    10
Freq: D, dtype: int64

In [19]:
print(temps_diff.mean())
print(type(temps_diff))

9.0
<class 'pandas.core.series.Series'>

In [20]:
temps_df = pd.DataFrame({'Missoula':temps1, 'Philadelphia':temps2})
print(temps_df)

            Missoula  Philadelphia
2021-07-01        80            70
2021-07-02        82            75
2021-07-03        85            69
2021-07-04        90            83
2021-07-05        83            79
2021-07-06        87            77

In [21]:
# 실습-해답 

temps_1 = temps1 + temps2
temps_2 = temps1 * temps2
temps_3 = temps1 / temps2
#
print(temps_1)
print(temps_2)
print(temps_3)

2021-07-01    150
2021-07-02    157
2021-07-03    154
2021-07-04    173
2021-07-05    162
2021-07-06    164
Freq: D, dtype: int64
2021-07-01    5600
2021-07-02    6150
2021-07-03    5865
2021-07-04    7470
2021-07-05    6557
2021-07-06    6699
Freq: D, dtype: int64
2021-07-01    1.142857
2021-07-02    1.093333
2021-07-03    1.231884
2021-07-04    1.084337
2021-07-05    1.050633
2021-07-06    1.129870
Freq: D, dtype: float64

In [22]:
# 실습-해답 
temps3 = pd.Series([75, 77, 67, 82, 77, 85],index=dates)
print('-'*40)
print('temps3')
print(temps3)
dic2 = {'Missoula': temps1,'Philadelphia': temps2,'temps3':temps3}  # 딕셔너리 dic2를 생성함 
temps_df2 = pd.DataFrame(dic2) # 데이터프레임을 생성할 때 인수로 딕셔너리인 dic2를 사용함
print('-'*40)
print('temps_df2')
print(temps_df2)

----------------------------------------
temps3
2021-07-01    75
2021-07-02    77
2021-07-03    67
2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, dtype: int64
----------------------------------------
temps_df2
            Missoula  Philadelphia  temps3
2021-07-01        80            70      75
2021-07-02        82            75      77
2021-07-03        85            69      67
2021-07-04        90            83      82
2021-07-05        83            79      77
2021-07-06        87            77      85

In [23]:
# 실습-해답-ver1
print('<<<<실습-해답-ver1>>>>')
temps3 = pd.Series([75, 77, 67, 82, 77, 85], index=dates)
temps_df2 = pd.DataFrame(
        {
        'Missoula': temps1,
        'Philadelphia': temps2,
        'Seoul': temps3,
        }
)
print(temps_df2)
print()
print('-'*40)
print('Missoula \t평균기온 : {0:.2f}'.format(temps1.mean()))
print('Philadelphia \t평균기온 : {0:.2f}'.format(temps2.mean()))
print('Seoul \t \t평균기온 : {0:.2f}'.format(temps3.mean()))

<<<<실습-해답-ver1>>>>
            Missoula  Philadelphia  Seoul
2021-07-01        80            70     75
2021-07-02        82            75     77
2021-07-03        85            69     67
2021-07-04        90            83     82
2021-07-05        83            79     77
2021-07-06        87            77     85

----------------------------------------
Missoula 	평균기온 : 84.50
Philadelphia 	평균기온 : 75.50
Seoul 	 	평균기온 : 77.17

In [24]:
# 실습-해답-ver2
temps3 = pd.Series([75, 77, 67, 82, 77, 85], index=dates)
temps_df2 = pd.DataFrame(
        {
        'Missoula': temps1,
        'Philadelphia': temps2,
        'Seoul': temps3,
        }
)
print()
print('<<<<실습-해답-ver2>>>>')
print(temps_df2)
print()
print('-'*40)
#print(      round(temps_df2.mean(),2)      ) # 서비스 코드 주석을 풀어보세요
#print('-'*40)
#print(temps_df2.columns)  # 서비스 코드 주석을 풀어보세요-> 이후 하단의 소스코드와 비교하세요.
print(temps_df2.columns.values[0] ,'\t평균기온 : {0:.2f}'    .format(round(temps_df2.Missoula.mean(),2))     )
print(temps_df2.columns.values[1] ,'\t평균기온 : {0:.2f}'    .format(round(temps_df2.Philadelphia.mean(),2))      )
print(temps_df2.columns.values[2] ,'\t\t평균기온 : {0:.2f}'    .format(round(temps_df2.Seoul.mean(),2))      )

<<<<실습-해답-ver2>>>>
            Missoula  Philadelphia  Seoul
2021-07-01        80            70     75
2021-07-02        82            75     77
2021-07-03        85            69     67
2021-07-04        90            83     82
2021-07-05        83            79     77
2021-07-06        87            77     85

----------------------------------------
Missoula 	평균기온 : 84.50
Philadelphia 	평균기온 : 75.50
Seoul 		평균기온 : 77.17

##### 이하는 13일차 학습내용입니다.
##### 이하는 13일차 학습내용입니다.
##### 이하는 13일차 학습내용입니다.

In [25]:
# Pandas DataFrame의 개념 
## 판다스의 시리즈는 각 인덱스 레이블 당 한 개의 값(values)만 가진다.
## 그러나 데이터 프레임을 사용하면 인덱스 한 개당 복수개의 값을 가질 수 있다 
## 데이터 프레임은 인덱스 레이블을 기준으로 배열된 한 개 이상의 시리즈의 집합을 의미한다.
## 각 시리즈는 데이터 프레임의 컬럼(열)이며 각각의 컬럼(열)은 자신만의 이름을 갖는다.
# Pandas DataFrame의 특징 
## 데이터 프레임은 데이터  개념과 비슷하다.
## 서로다른 유형의 데이터 컬럼을 한 개 이상 갖는다는 점과, 한 컬럼의 모든 데이터는 동일한 유형이라는 점이 비슷한 점이다.

In [26]:
temp_df = pd.DataFrame( {'Missoula':temps1, 'Philadelphia':temps2 }  )
temp_df

            Missoula  Philadelphia
2021-07-01        80            70
2021-07-02        82            75
2021-07-03        85            69
2021-07-04        90            83
2021-07-05        83            79
2021-07-06        87            77

In [27]:
print(temps_df['Missoula']) # 데이터 프레임에서 특정한 컬럼을 참조하기
print(type(temps_df))       # temps_df는 데이터프레임 형식임
print('---')
print(type(temps1))
print(type(temps_df['Missoula'] ))
aa = temps_df["Missoula"]
print(type(aa))

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, Name: Missoula, dtype: int64
<class 'pandas.core.frame.DataFrame'>
---
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [28]:
bb = temps_df.Missoula  # 데이터 프레임에 속해 있는 시리즈를 꺼내오는 새로운 문법임
# 직전의 temps_df['Missoula'] 문법과 비교할것
print(bb)
print(type(bb))

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, Name: Missoula, dtype: int64
<class 'pandas.core.series.Series'>

In [30]:
temps_df['Philadelphia']

2021-07-01    70
2021-07-02    75
2021-07-03    69
2021-07-04    83
2021-07-05    79
2021-07-06    77
Freq: D, Name: Philadelphia, dtype: int64

In [31]:
temps_df.Philadelphia

2021-07-01    70
2021-07-02    75
2021-07-03    69
2021-07-04    83
2021-07-05    79
2021-07-06    77
Freq: D, Name: Philadelphia, dtype: int64

In [32]:
temps_df [[  'Philadelphia','Missoula'  ]]
    # 데이터 프레임을 구성하는 두 개 이상의 컬럼(시리즈)을 
    # 한번에 가져올 때에는 대괄호를 중첩하여야 함

            Philadelphia  Missoula
2021-07-01            70        80
2021-07-02            75        82
2021-07-03            69        85
2021-07-04            83        90
2021-07-05            79        83
2021-07-06            77        87

In [33]:
temps_diff = temps_df.Missoula - temps_df.Philadelphia  # 시리즈 간의 산술연산 
print(temps_diff)
print(type(temps_diff))
print(temps_df)

2021-07-01    10
2021-07-02     7
2021-07-03    16
2021-07-04     7
2021-07-05     4
2021-07-06    10
Freq: D, dtype: int64
<class 'pandas.core.series.Series'>
            Missoula  Philadelphia
2021-07-01        80            70
2021-07-02        82            75
2021-07-03        85            69
2021-07-04        90            83
2021-07-05        83            79
2021-07-06        87            77

In [34]:
temps_df['Difference'] = temps_diff
        # temps_df라는 데이터 프레임에 temps_diff의 시리즈를 한 개 추가함
        # 그리고 df 안에서 추가한 시리즈의 레이블을 'Difference' 라고 정함 
print(temps_df)

            Missoula  Philadelphia  Difference
2021-07-01        80            70          10
2021-07-02        82            75           7
2021-07-03        85            69          16
2021-07-04        90            83           7
2021-07-05        83            79           4
2021-07-06        87            77          10

In [35]:
print(    temps_df.columns    ) # 데이터프레임의 컬럼명을 반환한다.
print(   list(temps_df.columns)   )

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')
['Missoula', 'Philadelphia', 'Difference']

In [36]:
col_list = list(temps_df.columns)
col_list[0] = 'Misu'
temps_df.columns = col_list  #  데이터프레임의 컬럼명(시리즈 레이블명)변경됨 
print(list(temps_df.columns))

['Misu', 'Philadelphia', 'Difference']

In [37]:
print(temps_df.Misu)

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, Name: Misu, dtype: int64

In [38]:
print(temps_df.Misu[1:4]) # [1:4]슬라이싱

2021-07-02    82
2021-07-03    85
2021-07-04    90
Freq: D, Name: Misu, dtype: int64

In [39]:
print(temps_df.Misu[3:])  # [3:]슬라이싱

2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, Name: Misu, dtype: int64

#### 전체 컬럼에 있어서의 특정 로우 데이터를 보고 싶다면 

#### <code>**.loc**</code>이나 <code>**.iloc**</code> 속성을 사용하면 된다. 
#### <code>**.loc**</code>는 인덱스 레이블을 사용해 검색하며, 
#### <code>**.iloc**</code>는 제로베이스 위치를 사용해 검색한다.

#### 다음은 데이터 프레임 안의 모든 # 번째 로우를 가져오는 코드다.

In [40]:
print(temps_df)
print('-'*40)
print(temps_df.iloc[5]) # 이 개념은 데이터 프레임에서 [n] n번째 행을 참조하라는 뜻임

            Misu  Philadelphia  Difference
2021-07-01    80            70          10
2021-07-02    82            75           7
2021-07-03    85            69          16
2021-07-04    90            83           7
2021-07-05    83            79           4
2021-07-06    87            77          10
----------------------------------------
Misu            87
Philadelphia    77
Difference      10
Name: 2021-07-06 00:00:00, dtype: int64

In [41]:
print(temps_df.iloc[3].index)

Index(['Misu', 'Philadelphia', 'Difference'], dtype='object')

In [42]:
print(temps_df.iloc[5])

Misu            87
Philadelphia    77
Difference      10
Name: 2021-07-06 00:00:00, dtype: int64

In [43]:
print(temps_df.loc['2021-07-01']) # 사용자 인덱스를 참조하는 loc명령은 존재하지 안을 떄 에러 발생함

Misu            80
Philadelphia    70
Difference      10
Name: 2021-07-01 00:00:00, dtype: int64

013일차-실습-3
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
이전 실습의 연속입니다.
직전 강의에서 사용한 코드에 연속으로 작업하세요.
실행결과를 참조하여 미줄라와 필라델피아의 온도차를  temps_df 에 추가하세요.

------------------------------------------------------------------
<요구사항1>
실행결과를 참조하여  이전 힉습일의 실습에서 만든 시리즈를 seoul이라는
이름의 컬럼(열)롤 만들어 temps_df 에 추가하세요.

------------------------------------------------------------------
<실행결과>
	        Missoula	Philadelphia	Difference	difference	Seoul
2021-07-01	    80	            70	        10	    10	        75
2021-07-02	    82	            75	        7	    7	        77
2021-07-03	    85	            69	        16	    16	        67
2021-07-04	    90	            83	        7	    7	        82
2021-07-05	    83	            79	        4	    4	        77
2021-07-06	    87	            77	        10	    10	        85


------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
제목은 '013일차-실습-3-완료' 라고 지정하세요.

In [ ]:
temps_df['difference'] = temps1-temps2
temps_df['Seoul'] = temps3

print(temps_df)

            Misu  Philadelphia  Difference  difference  Seoul
2021-07-01    80            70          10          10     75
2021-07-02    82            75           7           7     77
2021-07-03    85            69          16          16     67
2021-07-04    90            83           7           7     82
2021-07-05    83            79           4           4     77
2021-07-06    87            77          10          10     85

In [50]:
#013일차-실습-3해답
col_list = list(temps_df.columns)
col_list[0] = 'Missoula'       # 컬럼명(시리즈 레이블명)변경 
temps_df.columns = col_list
#
temps3 = pd.Series([75, 77, 67, 82, 77, 85], index=dates)
temps_df['difference'] = temps1 - temps2 # 
temps_df['Seoul'] = temps3
temps_df

            Missoula  Philadelphia  Difference  difference  Seoul
2021-07-01        80            70          10          10     75
2021-07-02        82            75           7           7     77
2021-07-03        85            69          16          16     67
2021-07-04        90            83           7           7     82
2021-07-05        83            79           4           4     77
2021-07-06        87            77          10          10     85

013일차-실습-4
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
이전 실습의 연속입니다.
이전 실습에서 사용한 코드에 연속으로 작업하세요.
temps_df 의 seoul 시리즈(열)에서 마지막 3줄(로우)을 추출하는 코드를 작성하세요.

------------------------------------------------------------------
<실행결과>
            Seoul
2021-07-04     82
2021-07-05     77
2021-07-06     85

------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '013일차-실습-4-완료' 라고 지정하세요.

In [56]:
temps_df['Seoul'].tail(3)

2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, Name: Seoul, dtype: int64

In [58]:

#013일차-실습-4해답
print('-'*40)
print(temps_df.Seoul[-3:])
print('-'*40)
print(temps_df.Seoul[3:6])
print('-'*40)
print(temps_df[['Seoul']][3:])
print('-'*40)
print(temps_df2['Seoul'].tail(3))
print('-'*40)
print(temps_df.loc['20210704':'20210706',['Seoul']])
print('-'*40)
print(temps_df.loc['2021-07-04':'2021-07-06',['Seoul']]) # 위의 소스와 비교

----------------------------------------
2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, Name: Seoul, dtype: int64
----------------------------------------
2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, Name: Seoul, dtype: int64
----------------------------------------
            Seoul
2021-07-04     82
2021-07-05     77
2021-07-06     85
----------------------------------------
2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, Name: Seoul, dtype: int64
----------------------------------------
            Seoul
2021-07-04     82
2021-07-05     77
2021-07-06     85
----------------------------------------
            Seoul
2021-07-04     82
2021-07-05     77
2021-07-06     85

013일차-실습-5
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
- temps_df 의 seoul 시리즈(열) 중에서 기온이 80 이상인 것을 추출하는 파이썬 프로그램을 작성하세요.
- 이전 실습의 연속입니다.

------------------------------------------------------------------
<요구사항1>
이전 실습에서 사용한 코드에 연속으로 작업하세요.
temps_df 의 seoul 시리즈(열) 중에서 기온이 80 이상인 것을 추출하는 코드를 작성하세요.

------------------------------------------------------------------
<실행결과>
2021-07-04    82
2021-07-06    85
Freq: 2D, Name: Seoul, dtype: int64

------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '013일차-실습-5-완료' 라고 지정하세요.

In [61]:
temps_df.Seoul[temps_df.Seoul >= 80]

2021-07-04    82
2021-07-06    85
Name: Seoul, dtype: int64

In [ ]:
#013일차-실습-5-해답-ver1
print('-'*10,'013일차-실습-5-해답-ver1','-'*10)
print(temps_df.Seoul[temps_df.Seoul >= 80])
#013일차-실습-5-해답-ver2
print('-'*10,'013일차-실습-5-해답-ver2','-'*10)
print(temps_df[temps_df.Seoul >= 80].Seoul)

---------- 013일차-실습-5-해답-ver1 ----------
2021-07-04    82
2021-07-06    85
Name: Seoul, dtype: int64
---------- 013일차-실습-5-해답-ver2 ----------
2021-07-04    82
2021-07-06    85
Freq: 2D, Name: Seoul, dtype: int64

013일차-실습-6
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
temps_df데이터 프레임의 모든 레이블(시리즈 명)을 실행결과를 참조하여 변경하세요.

------------------------------------------------------------------
<요구사항1>
이전 실습에서 사용한 코드에 연속으로 작업하세요.

------------------------------------------------------------------
<실행결과>

            MisuPhilDiffdiffSeou
2021-07-018070101075
2021-07-0282757777
2021-07-038569161667
2021-07-0490837782
2021-07-0583794477
2021-07-068777101085

------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '013일차-실습-6-완료' 라고 지정하세요.

In [66]:
temps_df.columns = ['Misu', 'Phil', 'Diff', 'diff', 'Seou']

temps_df

            Misu  Phil  Diff  diff  Seou
2021-07-01    80    70    10    10    75
2021-07-02    82    75     7     7    77
2021-07-03    85    69    16    16    67
2021-07-04    90    83     7     7    82
2021-07-05    83    79     4     4    77
2021-07-06    87    77    10    10    85

In [67]:
#013일차-실습-6-해답
# 컬럼명(시리즈 레이블명)변경 
col_list = list(temps_df.columns)
col_list[0] = 'Misu'
col_list[1] = 'Phil'
col_list[2] = 'Diff'
col_list[3] = 'diff'
col_list[4] = 'Seou'
temps_df.columns = col_list
temps_df

            Misu  Phil  Diff  diff  Seou
2021-07-01    80    70    10    10    75
2021-07-02    82    75     7     7    77
2021-07-03    85    69    16    16    67
2021-07-04    90    83     7     7    82
2021-07-05    83    79     4     4    77
2021-07-06    87    77    10    10    85

In [68]:
#013일차-실습-6-해답-ver2
temps_df.columns = ["Misu", "Phil", "Diff", "diff", "Seou"]
temps_df

            Misu  Phil  Diff  diff  Seou
2021-07-01    80    70    10    10    75
2021-07-02    82    75     7     7    77
2021-07-03    85    69    16    16    67
2021-07-04    90    83     7     7    82
2021-07-05    83    79     4     4    77
2021-07-06    87    77    10    10    85