In [2]:
import time
from datetime import datetime, date
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

#### 일정한 시간을 간격으로 하는 데이터의 연속,
#### 또는 일정한 날짜를 간격으로 하는 데이터가 연속된 것이
#### 시리즈의 인덱스로 사용된 경우 이러한 인덱스를 가진 시리즈를 
#### 시계열이라고 한다.

In [3]:
dates = pd.date_range('2021-07-01','2021-07-06')
print(dates)
print(type(dates))

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [4]:
temps1 = pd.Series([80,82,85,90,83,87], index =dates)
temps1

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, dtype: int64

In [5]:
temps2 = pd.Series([70,75,69,83,79,77],  index =dates)
print(temps2)
temps_diff = temps1 - temps2
print(temps_diff)

2021-07-01    70
2021-07-02    75
2021-07-03    69
2021-07-04    83
2021-07-05    79
2021-07-06    77
Freq: D, dtype: int64
2021-07-01    10
2021-07-02     7
2021-07-03    16
2021-07-04     7
2021-07-05     4
2021-07-06    10
Freq: D, dtype: int64

In [6]:
# pandas에는 평균을 구하는 함수인 mean()을 자체적으로 가지고 있다 
# 이것은 실습-에서 np.mean(value)로 표현한 numpy라이브러리의 mean() 함수와 구분된다 
print(temps_diff.mean())
print(type(temps_diff))

9.0
<class 'pandas.core.series.Series'>

##### 아래의 코드는 두 개의 시리즈를 이용하여 데이터 프레임을 만듭니다.
##### 아래의 코드는 두 개의 컬럼을 갖는 Dataframe 객체 temps_df를 만든다
##### 이 데이터 프레임의 구성요소인 컬럼(세로로 길죽한것)은 위에서 만든 temps1 과 temps2의 시리즈 객체이다.
##### 위의 셀에서 언급한 것처럼 temps1과 temps2는 동일한 인덱스인 dates를 가지므로 
##### 데이터 프레임이라는 데이터 구조를 만들때 2021-07-01 부터 2021-07-06까지의 인덱스가 
##### temps1과 temps2에서 공통적으로 사용되었기에 데이터 프레임의 인덱스가 되기에 어려움이 없다(유리하다).

In [7]:
temps_df = pd.DataFrame(  {  'Missoula': temps1, 'Pliladelphia': temps2  }   )
print(temps_df)

            Missoula  Pliladelphia
2021-07-01        80            70
2021-07-02        82            75
2021-07-03        85            69
2021-07-04        90            83
2021-07-05        83            79
2021-07-06        87            77

### Pandas DataFrame의 개념 
#### 판다스의 시리즈는 각 인덱스 레이블 당 한 개의 값(values)만 가진다.
#### 그러나 데이터 프레임을 사용하면 인덱스 한 개당 복수개의 값을 가질 수 있다 
#### 데이터 프레임은 인덱스 레이블을 기준으로 배열된 한 개 이상의 시리즈의 집합을 의미한다.
#### 각 시리즈는 데이터 프레임의 컬럼(열)이며 각각의 컬럼(열)은 자신만의 이름을 갖는다.

### Pandas DataFrame의 특징 
#### 데이터 프레임은 데이터 베이스의 테이블 개념과 비슷하다.
#### 서로다른 유형의 데이터 컬럼을 한 개 이상 갖는다는 점과, 한 컬럼의 모든 데이터는 동일한 유형이라는 점이 비슷한 점이다.

In [8]:
# 012일차-실습-3-해답 
temps_1 = temps1 + temps2
temps_2 = temps1 * temps2
temps_3 = temps1 / temps2
print(temps_1)
print(temps_2)
print(temps_3)

2021-07-01    150
2021-07-02    157
2021-07-03    154
2021-07-04    173
2021-07-05    162
2021-07-06    164
Freq: D, dtype: int64
2021-07-01    5600
2021-07-02    6150
2021-07-03    5865
2021-07-04    7470
2021-07-05    6557
2021-07-06    6699
Freq: D, dtype: int64
2021-07-01    1.142857
2021-07-02    1.093333
2021-07-03    1.231884
2021-07-04    1.084337
2021-07-05    1.050633
2021-07-06    1.129870
Freq: D, dtype: float64

# 이하 250620(금)수업부분

013일차-실습-1
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
- temps3 시리즈를 한 개 더 만들고 이것을 새로운 데이터 프레임에 삽입하세요.

------------------------------------------------------------------
<요구사항1>
- 이전에 사용했던 ipynb 소스에 나와있는 시리즈인 temps1 과 temps2 에 대응하는 temps3 시리즈를 한 개 더 만드세요.
온도는  75, 77, 67, 82, 77, 85 입니다.
인덱스는 temps1, temps2와 동일하여야 합니다.
temps3를 출력하세요.

------------------------------------------------------------------
<요구사항2>
- 위에서 만든 temps1 과 temps2 ,temps3 를 
temps_df2 라는 데이터 프레임에 삽입하세요.

------------------------------------------------------------------
<요구사항3>
- temps_df2 를 출력하세요.

-----------------------------------------------------------------
<실행결과>
----------------------------------------
temps3
2021-07-01    75
2021-07-02    77
2021-07-03    67
2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, dtype: int64
----------------------------------------
temps_df2
            Missoula  Philadelphia  temps3
2021-07-01        80            70      75
2021-07-02        82            75      77
2021-07-03        85            69      67
2021-07-04        90            83      82
2021-07-05        83            79      77
2021-07-06        87            77      85

------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '013일차-실습-1-완료' 라고 지정하세요.

In [9]:
# 실습-1-해답 
temps3 = pd.Series([75, 77, 67, 82, 77, 85],index=dates)
print('-'*40)
print('temps3')
print(temps3)
dic2 = {'Missoula': temps1,'Philadelphia': temps2,'temps3':temps3}  # 딕셔너리 dic2를 생성함 
temps_df2 = pd.DataFrame(dic2) # 데이터프레임을 생성할 때 인수로 딕셔너리인 dic2를 사용함
print('-'*40)
print('temps_df2')
print(temps_df2)

----------------------------------------
temps3
2021-07-01    75
2021-07-02    77
2021-07-03    67
2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, dtype: int64
----------------------------------------
temps_df2
            Missoula  Philadelphia  temps3
2021-07-01        80            70      75
2021-07-02        82            75      77
2021-07-03        85            69      67
2021-07-04        90            83      82
2021-07-05        83            79      77
2021-07-06        87            77      85

013일차-실습-2
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
- 실행결과를 참조하여 각 도시의 평균온도를 구하세요.
- 이전 실습의 연속입니다.

------------------------------------------------------------------
<요구사항1>
- day_final_250620_00.ipynb 의 마지막셀에 이어서 작성하세요.
- 이전 실습에서 만든 temps1 과 temps2 ,temps3 라는 시리즈가 있고
이곳에는 각 도시의 온도가 날짜별로 저장되어 있습니다.
- 실행결과를 참조하여 각 도시의 평균온도를 구하세요.
- 실행결과와 동일하여야 합니다.

------------------------------------------------------------------
<실행결과>
            Missoula  Philadelphia  Seoul
2021-07-01        80            70     75
2021-07-02        82            75     77
2021-07-03        85            69     67
2021-07-04        90            83     82
2021-07-05        83            79     77
2021-07-06        87            77     85
----------------------------------------
Missoula  평균기온 : 84.50
Philadelphia  평균기온 : 75.50
Seoul    평균기온 : 77.17

------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '013일차-실습-2-완료' 라고 지정하세요.

In [10]:
print(temps_df2)

            Missoula  Philadelphia  temps3
2021-07-01        80            70      75
2021-07-02        82            75      77
2021-07-03        85            69      67
2021-07-04        90            83      82
2021-07-05        83            79      77
2021-07-06        87            77      85

In [18]:
temps_df2.columns = ['Missoula', 'Philadelphia', 'Seoul']

print(temps_df2)

missoula_diff = round(temps_df2['Missoula'].mean(), 2)
philadelphia_diff = round(temps_df2['Philadelphia'].mean(), 2)
seoul_diff = round(temps_df2['Seoul'].mean(), 2)

print('-'*40)

print(f'Missoula  평균기온: {missoula_diff}')
print(f'Philadelphia  평균기온: {philadelphia_diff}')
print(f'Seoul  평균기온: {seoul_diff}')

            Missoula  Philadelphia  Seoul
2021-07-01        80            70     75
2021-07-02        82            75     77
2021-07-03        85            69     67
2021-07-04        90            83     82
2021-07-05        83            79     77
2021-07-06        87            77     85
----------------------------------------
Missoula  평균기온: 84.5
Philadelphia  평균기온: 75.5
Seoul  평균기온: 77.17

In [19]:
#013일차-실습-2-해답
print('<<<<실습-2-해답>>>>')
temps3 = pd.Series([75, 77, 67, 82, 77, 85], index=dates)
temps_df2 = pd.DataFrame(
        {
        'Missoula': temps1,
        'Philadelphia': temps2,
        'Seoul': temps3,
        }
)
print(temps_df2)
print()
print('-'*40)
print('Missoula \t평균기온 : {0:.2f}'.format(temps1.mean()))
print('Philadelphia \t평균기온 : {0:.2f}'.format(temps2.mean()))
print('Seoul \t \t평균기온 : {0:.2f}'.format(temps3.mean()))

<<<<실습-2-해답>>>>
            Missoula  Philadelphia  Seoul
2021-07-01        80            70     75
2021-07-02        82            75     77
2021-07-03        85            69     67
2021-07-04        90            83     82
2021-07-05        83            79     77
2021-07-06        87            77     85

----------------------------------------
Missoula 	평균기온 : 84.50
Philadelphia 	평균기온 : 75.50
Seoul 	 	평균기온 : 77.17