In [92]:
import pandas as pd
import numpy as np

df = pd.read_csv('data\data.csv')

print(df.head())

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  8  10  11  12     foo
3           3  9   5   2  13    gooo
4           4  1   3   4   7    five

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MOON\AppData\Local\Temp\ipykernel_4308\621340499.py:4: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv('data\data.csv')

In [7]:
df2 = pd.read_excel('data\data.xlsx', sheet_name=0)
print(df2.head())

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  8  10  11  12     foo
3           3  9   5   2  13    gooo
4           4  1   3   4   7    five

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MOON\AppData\Local\Temp\ipykernel_4308\4286511575.py:1: SyntaxWarning: invalid escape sequence '\d'
  df2 = pd.read_excel('data\data.xlsx', sheet_name=0)

In [9]:
df3 = pd.read_json('data\data.json')
print(df3.head())

                  editor.fontSize  editor.fontWeight  \
*.ipynb                        19               1000
default                        19               1000
jupyter-notebook               19               1000
*.py                           19               1000

                  code-runner.saveFileBeforeRun  code-runner.runInTerminal  \
*.ipynb                                    True                       True
default                                    True                       True
jupyter-notebook                           True                       True
*.py                                       True                       True

                  python.linting.enabled                 python.pythonPath  \
*.ipynb                            False  C:\Program Files\python\Python38
default                            False  C:\Program Files\python\Python38
jupyter-notebook                   False  C:\Program Files\python\Python38
*.py                               False  C:\Program Files\python\Python38

                  window.zoomLevel  terminal.integrated.fontSize  \
*.ipynb                          0                            19
default                          0                            19
jupyter-notebook                 0                            19
*.py                             0                            19

                  code-runner.clearPreviousOutput  \
*.ipynb                                      True
default                                      True
jupyter-notebook                             True
*.py                                         True

                  explorer.confirm‎‎‎‎‎‎Delete  ...  \
*.ipynb                                  False  ...
default                                  False  ...
jupyter-notebook                         False  ...
*.py                                     False  ...

                                                  editor.fontFamily  \
*.ipynb           D2 Coding ligature, D2Coding, Consolas, 'Couri...
default           D2 Coding ligature, D2Coding, Consolas, 'Couri...
jupyter-notebook  D2 Coding ligature, D2Coding, Consolas, 'Couri...
*.py              D2 Coding ligature, D2Coding, Consolas, 'Couri...

                 editor.fontLigatures editor.mouseWheelZoom  \
*.ipynb                          True                  True
default                          True                  True
jupyter-notebook                 True                  True
*.py                             True                  True

                 notebook.lineNumbers explorer.confirm‎‎‎Delete  \
*.ipynb                            on                     False
default                            on                     False
jupyter-notebook                   on                     False
*.py                               on                     False

                  explorer.confirmDelete  \
*.ipynb                            False
default                            False
jupyter-notebook                   False
*.py                               False

                  security.workspace.trust.untrustedFiles  \
*.ipynb                                              open
default                                              open
jupyter-notebook                                     open
*.py                                                 open

                  editor.unicodeHighlight.nonBasicASCII  \
*.ipynb                                           False
default                                           False
jupyter-notebook                                  False
*.py                                              False

                 workbench.editor.empty.hint  files.associations
*.ipynb                               hidden                 NaN
default                               hidden                 NaN
jupyter-notebook                      hidden                 NaN
*.py                                  hidden              python

[4 rows x 35 columns]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MOON\AppData\Local\Temp\ipykernel_4308\876330492.py:1: SyntaxWarning: invalid escape sequence '\d'
  df3 = pd.read_json('data\data.json')

In [ ]:
import sqlite3

conn = sqlite3.connect('data\data.db')

df4 = pd.read_sql('select * from test01', conn)
print(df4.head())
conn.close()

     name
0  test01
1   users

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MOON\AppData\Local\Temp\ipykernel_4308\2188132704.py:3: SyntaxWarning: invalid escape sequence '\d'
  conn = sqlite3.connect('data\data.db')

In [15]:
df = pd.DataFrame({'이름':['철수', '영희', '민수'], '나이':[25, 30, 28]})

print('📌 데이터프레임의 크기(행, 열):')
print(df.shape)
print('\n📌 컬러명:')
print(df.columns)
print('\n📌 인덱스 정보:')
print(df.index)
print('\n📌 각 열의 데이터 타입:')
print(df.dtypes)
print('\n📌 데이터프레임을 NumPy 배열로 변환:')
print(df.values)

📌 데이터프레임의 크기(행, 열):
(3, 2)

📌 컬러명:
Index(['이름', '나이'], dtype='object')

📌 인덱스 정보:
RangeIndex(start=0, stop=3, step=1)

📌 각 열의 데이터 타입:
이름    object
나이     int64
dtype: object

📌 데이터프레임을 NumPy 배열로 변환:
[['철수' 25]
 ['영희' 30]
 ['민수' 28]]

In [16]:
print('📌 데이터프레임의 상위 3개 행 출력:')
print(df.head(3))
print('\n📌 데이터프레임의 하위 2개 행 출력:')
print(df.tail(2))
print('\n📌 데이터프레임의 정보 출력:')
print(df.info())
print('\n📌 데이터프레임의 수치형 데이터 요약 통계량:')
print(df.describe())

📌 데이터프레임의 상위 3개 행 출력:
   이름  나이
0  철수  25
1  영희  30
2  민수  28

📌 데이터프레임의 하위 2개 행 출력:
   이름  나이
1  영희  30
2  민수  28

📌 데이터프레임의 정보 출력:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

📌 데이터프레임의 수치형 데이터 요약 통계량:
              나이
count   3.000000
mean   27.666667
std     2.516611
min    25.000000
25%    26.500000
50%    28.000000
75%    29.000000
max    30.000000

In [18]:
print('📌 특정 열 선택:')
print(df['이름'])
print('\n📌 여러 열 선택:')
print(df[['이름', '나이']])
print('\n📌 인덱서 0번 행 선택:')
print(df.loc[0])
print('\n📌 두 번째 행 선택:')
print(df.iloc[1])

📌 특정 열 선택:
0    철수
1    영희
2    민수
Name: 이름, dtype: object

📌 여러 열 선택:
   이름  나이
0  철수  25
1  영희  30
2  민수  28

📌 인덱서 0번 행 선택:
이름    철수
나이    25
Name: 0, dtype: object

📌 두 번째 행 선택:
이름    영희
나이    30
Name: 1, dtype: object

In [19]:
df_sorted = df.sort_values(by='나이', ascending=False)
print('📌 나이 기준 내림차순 정렬 결과:')
print(df_sorted)

📌 나이 기준 내림차순 정렬 결과:
   이름  나이
1  영희  30
2  민수  28
0  철수  25

In [22]:
df_sorted3 = df.sort_values(by=['나이', '이름'], ascending=[False, True])
print('📌 나이 오름차순, 이름 내림차순 결과:')
print(df_sorted3)

📌 나이 오름차순, 이름 내림차순 결과:
   이름  나이
1  영희  30
2  민수  28
0  철수  25

In [20]:
df_sorted_index = df.sort_index(ascending=False)
print(df_sorted_index)

   이름  나이
2  민수  28
1  영희  30
0  철수  25

012일차-실습-1
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
다음의 <보기> 자료를 딕셔너리를 기초자료로 하여 s1_jumsu 시리즈를 만드세요.
s1_jumsu 시리즈는 데이터(요소)가 평균이고 인덱스가 이름으로 구성되도록 하세요.
Series 를 만들면 이것을 <실행결과> 와 같이 출력하세요

------------------------------------------------------------------
<보기>
jumsu = {
'홍길동' : [50,60,50],
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}

------------------------------------------------------------------
<요구사항1>
- 실행결과와 다른 곳이 있으면 안됩니다. (소숫점 이하 2자리 표현부분)

------------------------------------------------------------------
<실행결과>
-홍길동---이순신---강감찬---유관순---강환석-
-53.33점--60.00점--93.33점--83.33점--95.00점-

------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '012일차-실습-1-완료' 라고 지정하세요.

In [ ]:


jumsu = {
'홍길동' : [50,60,50],
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}

jumsu_avg={}
for i in jumsu.keys():
    jumsu_avg[i] = round(sum(jumsu[i])/len(jumsu[i]), 2)

53.333333333333336

In [88]:
s1_jumsu = pd.Series(jumsu_avg.values(), index=jumsu_avg.keys())

print(f'-{s1_jumsu.index[0]}---{s1_jumsu.index[1]}---{s1_jumsu.index[2]}---{s1_jumsu.index[3]}---{s1_jumsu.index[4]}-')
print(f'-{s1_jumsu.values[0]}점--{s1_jumsu.values[1]}점--{s1_jumsu.values[2]}점--{s1_jumsu.values[3]}점--{s1_jumsu.values[4]}점-')

-홍길동---이순신---강감찬---유관순---강환석-
-53.33점--60.0점--93.33점--83.33점--95.0점-

In [91]:
#012일차-실습-1-해답
import numpy as np
import pandas as pd 
#
jumsu = {
'홍길동' : [50,60,50],
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}
s1_jumsu = pd.Series(jumsu)
for i in s1_jumsu.index:
    print('-' + i + '-', end='-')
print()
for i in s1_jumsu.values:
    print(i)           # 서비스코드
    print(type(i))     # 서비스코드 
    print( '-{:.2f}점-'.format( np.mean(i)), end='')  
        # np는 numpy 라이브러리를 말함 np.mean()은 평균 함수임

-홍길동---이순신---강감찬---유관순---강환석--
[50, 60, 50]
<class 'list'>
-53.33점-[60, 60, 60]
<class 'list'>
-60.00점-[100, 90, 90]
<class 'list'>
-93.33점-[80, 80, 90]
<class 'list'>
-83.33점-[95, 95, 95]
<class 'list'>
-95.00점-

012일차-실습-2
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
다음의 <보기> 자료를 대상으로 실행결과를 충족하는 파이썬 프로그램을 노트북으로 작성하세요.
단, 요구사항을 꼭 준수하세요.

------------------------------------------------------------------
<보기>
jumsu = {
'홍길동' : [50,60,50],
'이순동' : [60,60,60],
'강감동' : [100,90,90],
'유관동' : [80,80,90],
'홍길도' : [50,45,50],
'이순도' : [80,70,66],
'강감도' : [64,49,50],
'유관도' : [60,50,50],
'홍길재' : [50,45,51],
'이순재' : [80,70,61],
'강감재' : [64,49,51],
'유관재' : [60,50,51],
'강환석' : [95,95,95]
}

------------------------------------------------------------------
<요구사항1>
다음의 순서대로 코딩하세요.
데이터(요소)가 평균이고 인덱스가 성명인 Series 를 만드세요.
이 시리즈에  평균 점수가 60점 미만인 사람만 선별하여 저장하세요.
시리즈를 <실행결과> 와 같이 출력하세요.

------------------------------------------------------------------
<실행결과>
홍길동-홍길도-강감도-유관도-홍길재-강감재-유관재-
53.33--48.33--54.33--53.33--48.67--54.67--53.67--


------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '012일차-실습-2-완료' 라고 지정하세요.

In [ ]:
import pandas as pd
import numpy as np

jumsu = {
'홍길동' : [50,60,50],
'이순동' : [60,60,60],
'강감동' : [100,90,90],
'유관동' : [80,80,90],
'홍길도' : [50,45,50],
'이순도' : [80,70,66],
'강감도' : [64,49,50],
'유관도' : [60,50,50],
'홍길재' : [50,45,51],
'이순재' : [80,70,61],
'강감재' : [64,49,51],
'유관재' : [60,50,51],
'강환석' : [95,95,95]
}

jumsu_avg={}
for i in jumsu.keys():
    jumsu_avg[i] = round(np.mean(jumsu[i]), 2)

s2_jumsu = pd.Series(jumsu_avg.values(), index=jumsu_avg.keys())

for i in s2_jumsu.index:
    if s2_jumsu[i] < 60:
        print(i, end='-')
print()
for i in s2_jumsu.values:
    if i < 60:
        print(i, end='--')
print()

홍길동-홍길도-강감도-유관도-홍길재-강감재-유관재-
53.33--48.33--54.33--53.33--48.67--54.67--53.67--

In [104]:
#012일차-실습-2-해답
import numpy as np
import pandas as pd 
#
jumsu = {'홍길동' : [50,60,50],'이순동' : [60,60,60],'강감동' : [100,90,90],'유관동' : [80,80,90],
'홍길도' : [50,45,50],'이순도' : [80,70,66],'강감도' : [64,49,50],'유관도' : [60,50,50],'홍길재' : [50,45,51],
'이순재' : [80,70,61],'강감재' : [64,49,51],'유관재' : [60,50,51],'강환석' : [95,95,95]}
# 딕셔너리의 요소중에 평균 점수가 60점 미만인 것만 필터링 하는 루틴
jumsu2 = dict(  {   key : round(np.mean(value),2)   for key, value  in jumsu.items() if np.mean(value)<60  } )
                                                                     # jumsu 딕셔너리의 밸류 중에서 평균이 60 미만인 것만 
                                                                     # 뽑아낸 쌍을 items() 튜플에 할당하고 튜플의 요소를 
                                                                     # unpacking하여 key, value 라는 변수에 할당하는 for문 
                                                                     # items() 함수는 Key와 Value의 쌍을 튜플로 묶은 값을 dict_items  
                                                                     # 객체로반환함. 이 구절에서는 튜플로 묶은 dict_items 객체를 
                                                                     # in 연산자 왼쪽의  key, value에 unpacking하였다
                           # for 문으로 발생한 key, value를 
                           # 각각 key와 round(np.mean(value),2)의 쌍으로 구성하고 이것을
                # dict() 형변환 함수로 변환하여 jumsu2 딕셔너리로 생성한다.
#
#print(type(jumsu2)) # 서비스 코드임
#print(jumsu2)       # 서비스 코드임
#
jumsu3 = pd.Series(jumsu2)
for i in jumsu3.index:
    print(i, end="-")
print()
for i in jumsu3:
    print(i, end="--")
print()

홍길동-홍길도-강감도-유관도-홍길재-강감재-유관재-
53.33--48.33--54.33--53.33--48.67--54.67--53.67--

012일차-실습-3
------------------------------------------------------------------
<문제>, <배경설명>, <요구사항>, <실행결과> 를 충족하는 실습을 수행하고 결과를 제출하세요.
------------------------------------------------------------------
<문제>
<강의소스>에 나와있는 temp1 과 temp2 를 이용하여
뺄셈 연산 이외에 다른 산술연산이 가능한지 실습해 보세요.

------------------------------------------------------------------
<강의소스>
https://drive.google.com/file/d/1EtV093p5UXqGcH0KObpMz4m5mHTGtYaY/view?usp=sharing

------------------------------------------------------------------
<요구사항1>
적어도 3개 이상의 연산을 시도하고 결과를 스샷하세요.

------------------------------------------------------------------
<실행결과>

2021-07-01    150
2021-07-02    157
2021-07-03    154
2021-07-04    173
2021-07-05    162
2021-07-06    164
Freq: D, dtype: int64
2021-07-01    5600
2021-07-02    6150
2021-07-03    5865
2021-07-04    7470
2021-07-05    6557
2021-07-06    6699
Freq: D, dtype: int64
2021-07-01    1.142857
2021-07-02    1.093333
2021-07-03    1.231884
2021-07-04    1.084337
2021-07-05    1.050633
2021-07-06    1.129870
Freq: D, dtype: float64

------------------------------------------------------------------
이상의 실습결과를 techmr@daum.net; ty@doublerock.io 메일로 전송하세요.
메일제목은 '012일차-실습-3-완료' 라고 지정하세요.

In [106]:
import time
from datetime import datetime, date
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [107]:
dates = pd.date_range('2021-07-01','2021-07-06')
print(dates)
print(type(dates))

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [108]:
temps1 = pd.Series([80,82,85,90,83,87], index =dates)
temps1

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, dtype: int64

In [109]:
temps2 = pd.Series([70,75,69,83,79,77],  index =dates)
print(temps2)
temps_diff = temps1 - temps2
print(temps_diff)

2021-07-01    70
2021-07-02    75
2021-07-03    69
2021-07-04    83
2021-07-05    79
2021-07-06    77
Freq: D, dtype: int64
2021-07-01    10
2021-07-02     7
2021-07-03    16
2021-07-04     7
2021-07-05     4
2021-07-06    10
Freq: D, dtype: int64

In [114]:
temps_sum = temps1 + temps2
print(temps_sum)
temps_mult = temps1 * temps2
print(temps_mult)
temps_div = temps1 / temps2
print(temps_div)

2021-07-01    150
2021-07-02    157
2021-07-03    154
2021-07-04    173
2021-07-05    162
2021-07-06    164
Freq: D, dtype: int64
2021-07-01    5600
2021-07-02    6150
2021-07-03    5865
2021-07-04    7470
2021-07-05    6557
2021-07-06    6699
Freq: D, dtype: int64
2021-07-01    1.142857
2021-07-02    1.093333
2021-07-03    1.231884
2021-07-04    1.084337
2021-07-05    1.050633
2021-07-06    1.129870
Freq: D, dtype: float64